body {
}

.cadet-block{width:60%;}
.cadet-block select{width:100%;margin-top:5px;}
.run-block{display:flex;flex-direction:column;}

.button-row{
 display:flex;
 gap:10px;
 margin:10px 0;
}

.button-row button{
 flex:1;
 background:#1e3a8a;
 color:white;
}

.middle-row{display:flex;gap:10px;}
.left-panel{width:40%;}

.left-panel div{
 background:#334155;
 margin:6px 0;
 padding:10px;
 text-align:center;
}

.timer-box{
 flex:1;
 background:#1e293b;
 display:flex;
 align-items:center;
 justify-content:center;
}

#timerDisplay{font-size:50px;}

.table-header,.table-row{
 display:grid;
 grid-template-columns:2.5fr .6fr .6fr 1fr;
 gap:5px;
}

textarea{
 width:100%;
 height:60px;
 margin-top:10px;
}

.footer{
 display:flex;
 justify-content:space-between;
 align-items:center;
 margin-top:10px;
}

.qual{color:lime;font-weight:bold;}
.nonqual{color:red;font-weight:bold;}
#dnfBtn.active{background:red;}

.modal{
 position:fixed;
 inset:0;
 background:rgba(0,0,0,.6);
 display:flex;
 align-items:center;
 justify-content:center;
}

.hidden{
 display:none;
}

.modal-box{
 background:#1e293b;
 padding:20px;
 border-radius:14px;
 width:280px;
}

.modal-box input{
 width:100%;
 margin:10px 0;
 padding:10px;
}
